@model Gym.Presentation.Models.CustomerModel


@{
    ViewBag.Title = "Registrati";
}


            <h2>Registrati</h2>


            @using (Html.BeginForm("AddCustomer", "Customer"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Benvenuti nella mia palestra</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NameCustomer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NameCustomer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NameCustomer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SurnameCustomer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SurnameCustomer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SurnameCustomer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Iscriviti" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Message == true)
            {
                <div class="alert" role="alert">
                    Benvenuto nella palestra di Giulio!
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>



            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }



